.reviews {
  margin-bottom: 100px;

  @include mobile {
    margin-bottom: 40px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__slider-wrapper {
    position: relative;
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 40px;
    }

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__content {
    position: relative;
    overflow-x: hidden;
  }

  &__btn {
    @include mobile {
      align-self: center;
    }
  }
}

.review {
  box-sizing: border-box;
  padding: 30px;
  background-color: var(--color-dark-blue);
  box-shadow: 10px 10px 25px rgba(15, 76, 130, 0.15);
  border-radius: 10px;
  color: var(--color-white);

  @include mobile {
    padding: 10px;
  }

  &__user-data {
    display: flex;
    align-items: center;
    margin-bottom: 23px;
  }

  &__user-avatar {
    margin-right: 20px;
  }

  &__user-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 145%;

    @include mobile {
      font-size: 16px;
    }
  }
}
