<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <div class="contacts__info info">
      <h2 class="title contacts__title">
        Контакты
      </h2>
      <div class="info__item">
        <span class="info__item-title info__item-title--location">Санкт-Петербург</span>
        <span class="info__item-text">поселок Металлострой</span>
      </div>
      <div class="info__item">
          <span class="info__item-title info__item-title--clock">
            Ежедневно
          </span>
        <span class="info__item-text">
            с 9:00 до 18:00
          </span>
      </div>
      <div class="info__item info__item--contacts">
        <a href="tel:+79052712427" class="info__item-title info__item-title--phone">
          +7 (905) 271-24-27
        </a>
        <a href="mailto:vorotnyi-masterspb@yandex.ru" class="info__item-text info__item-text--mail">
          vorotnyi-masterspb@yandex.ru
        </a>
      </div>
      <button class="btn-primary contacts__btn-callback popup-btn-js">
        Заказать звонок
      </button>
    </div>
    <div class="contacts__map" id="map" style="width: 775px; height: 483px">

    </div>
  </div>
</section>
