<footer class="footer">
	<div class="container footer__container">
    <a href="#" class="footer__logo-link">
      <img src="img/logo.png" alt="Подшивка свесов">
    </a>
    <div class="footer__info info">
      <div class="info__item">
        <span class="info__item-title info__item-title--location">Санкт-Петербург</span>
        <span class="info__item-text">поселок Металлострой</span>
      </div>
      <div class="info__item">
          <span class="info__item-title info__item-title--clock">
            Ежедневно
          </span>
        <span class="info__item-text">
            с 9:00 до 18:00
          </span>
      </div>
      <div class="info__item">
        <a href="tel:+79052712427" class="info__item-title info__item-title--phone">
          +7 (905) 271-24-27
        </a>
        <a href="mailto:vorotnyi-masterspb@yandex.ru" class="info__item-text info__item-text--mail">
          vorotnyi-masterspb@yandex.ru
        </a>
      </div>
    </div>
    <a href="#" class="footer__btn-go-up">
      <svg width="48" height="47" viewBox="0 0 48 47" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.6016 20.2L24.0016 13.8L30.4016 20.2" fill="#004B85"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.6016 29.8L24.0016 23.4L30.4016 29.8" fill="#004B85"/>
        <path d="M24.0016 45.8C11.6304 45.8 1.60156 35.7712 1.60156 23.4C1.60156 11.0288 11.6304 1 24.0016 1C36.3727 1 46.4016 11.0288 46.4016 23.4C46.4016 35.7712 36.3727 45.8 24.0016 45.8Z" fill="#004B85"/>
        <path d="M17.6016 20.2L24.0016 13.8L30.4016 20.2M17.6016 29.8L24.0016 23.4L30.4016 29.8M1.60156 23.4C1.60156 35.7712 11.6304 45.8 24.0016 45.8C36.3727 45.8 46.4016 35.7712 46.4016 23.4C46.4016 11.0288 36.3727 1 24.0016 1C11.6304 1 1.60156 11.0288 1.60156 23.4Z" stroke="#FCFBFB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </div>
</footer>
