<header class="header">
	<div class="container">
		<div class="header__upper">
			<div class="header__burger-wrapper">
				<button class="burger header__burger">
					<span class="burger__line"></span>
				</button>
			</div>
			<a href="./" class="header__logo-link">
				<img src="img/logo.png" alt="Подшив свесов">
			</a>
			<div class="header__info info">
				<div class="info__item">
					<span class="info__item-title info__item-title--location">Санкт-Петербург</span>
					<span class="info__item-text">поселок Металлострой</span>
				</div>
				<div class="info__item">
					<span class="info__item-title info__item-title--clock">
						Ежедневно
					</span>
					<span class="info__item-text">
						с 9:00 до 18:00
					</span>
				</div>
				<div class="info__item">
					<a href="tel:+79052712427" class="info__item-title info__item-title--phone">
						+7 (905) 271-24-27
					</a>
					<a href="mailto:vorotnyi-masterspb@yandex.ru" class="info__item-text info__item-text--mail">
						vorotnyi-masterspb@yandex.ru
					</a>
				</div>
			</div>
		</div>
		<div class="header__menu-wrapper">
			<nav class="header__menu">
				<ul class="header__menu-list">
					<li class="header__menu-item">
						<a href="./#services" class="header__menu-link">
							Услуги и цены
						</a>
					</li>
					<li class="header__menu-item">
						<a href="./#portfolio" class="header__menu-link">
							Наши работы
						</a>
					</li>
					<li class="header__menu-item">
						<a href="./#reviews" class="header__menu-link">
							Отзывы
						</a>
					</li>
					<li class="header__menu-item">
						<a href="#contacts" class="header__menu-link">
							Контакты
						</a>
					</li>
				</ul>
				<div class="header__info header__info--tablet info">
					<div class="info__item info__item--tablet">
						<span class="info__item-title info__item-title--location">Санкт-Петербург</span>
						<span class="info__item-text">поселок Металлострой</span>
					</div>
					<div class="info__item info__item--tablet">
						<span class="info__item-title info__item-title--clock">
							Ежедневно
						</span>
						<span class="info__item-text">
							с 9:00 до 18:00
						</span>
					</div>
					<div class="info__item info__item--tablet">
						<a href="tel:+79052712427" class="info__item-title info__item-title--phone">
							+7 (905) 271-24-27
						</a>
						<a href="mailto:vorotnyi-masterspb@yandex.ru" class="info__item-text info__item-text--mail">
							vorotnyi-masterspb@yandex.ru
						</a>
					</div>
					<img class="info__logo" src="img/logo.png" alt="подшивка свесов">
				</div>
			</nav>
		</div>
	</div>
</header>