<section class="hero">
	<div class="container">
		<h1 class="main-title main-title--head visually-hidden">
			выполним подшивку свесов в СПБ и Лен. области
		</h1>
		<div class="hero__container">
			<div class="swiper-wrapper">
				<div class="swiper-slide hero__item">
					<h2 class="hero__title">
						Выполним подшивку свесов в спб и лен. области
					</h2>
					<ul class="hero__list">
						<li class="hero__list-item hero__list-item--quality">
							Качественные материалы
						</li>
						<li class="hero__list-item hero__list-item--time">
							Время работы 7 рабочих дней
						</li>
						<li class="hero__list-item hero__list-item--garanty">
							Гарантия 3 года
						</li>
					</ul>
					<button class="btn-primary hero__btn-callback popup-btn-js">
						Заказать звонок
					</button>
				</div>
				<div class="swiper-slide hero__item">
					<h2 class="hero__title">
						Выполним подшивку свесов в спб и лен. области
					</h2>
					<ul class="hero__list">
						<li class="hero__list-item hero__list-item--quality">
							Качественные материалы
						</li>
						<li class="hero__list-item hero__list-item--time">
							Время работы 7 рабочих дней
						</li>
						<li class="hero__list-item hero__list-item--garanty">
							Гарантия 3 года
						</li>
					</ul>
					<button class="btn-primary hero__btn-callback popup-btn-js">
						Заказать звонок
					</button>
				</div>
				<div class="swiper-slide hero__item">
					<h2 class="hero__title">
						Выполним подшивку свесов в спб и лен. области
					</h2>
					<ul class="hero__list">
						<li class="hero__list-item hero__list-item--quality">
							Качественные материалы
						</li>
						<li class="hero__list-item hero__list-item--time">
							Время работы 7 рабочих дней
						</li>
						<li class="hero__list-item hero__list-item--garanty">
							Гарантия 3 года
						</li>
					</ul>
					<button class="btn-primary hero__btn-callback popup-btn-js">
						Заказать звонок
					</button>
				</div>
			</div>
		</div>
		<div class="swiper-button-prev swiper-button-prev--hero"></div>
		<div class="swiper-button-next swiper-button-next--hero"></div>
		<div class="swiper-scrollbar swiper-scrollbar--hero"></div>
		<button class="btn-primary hero__btn-callback hero__btn-callback--mobile popup-btn-js">
			Заказать звонок
		</button>
	</div>
</section>