<section class="how">
  <div class="container how__container">
    <h2 class="title how__title">
      Как мы работаем?
    </h2>
    <div class="how__content">
      <div class="how-item">
        <div class="how-item__icon how-item__icon--phone">

        </div>
        <h3 class="how-item__title">
          Заявка
        </h3>
        <p class="how-item__text">
          Позвоните или оставьте заявку, и мы свяжется с вами
        </p>
      </div>
      <div class="how-item">
        <div class="how-item__icon how-item__icon--get-size">

        </div>
        <h3 class="how-item__title">
          Замер
        </h3>
        <p class="how-item__text">
          Приедет мастер и сделает все замеры
        </p>
      </div>
      <div class="how-item">
        <div class="how-item__icon how-item__icon--list">

        </div>
        <h3 class="how-item__title">
          Договор
        </h3>
        <p class="how-item__text">
          Подпишем договор и согласуем смету
        </p>
      </div>
      <div class="how-item">
        <div class="how-item__icon how-item__icon--hand">

        </div>
        <h3 class="how-item__title">
          Расчёт
        </h3>
        <p class="how-item__text">
          На все работы даём гарантию до 2 лет
        </p>
      </div>
      <div class="how-item">
        <div class="how-item__icon how-item__icon--delivery">

        </div>
        <h3 class="how-item__title">
          Доставка
        </h3>
        <p class="how-item__text">
          Доставим все материалы к вам на участок
        </p>
      </div>
      <div class="how-item">
        <div class="how-item__icon how-item__icon--setup">

        </div>
        <h3 class="how-item__title">
          Монтаж
        </h3>
        <p class="how-item__text">
          Русские бригады с опытом работы от 10 лет
        </p>
      </div>
    </div>
  </div>
</section>
