<section class="partners">
  <div class="container partners__container">
    <h2 class="title partners__title">
      Партнёры
    </h2>
    <div class="partners__content">
      <div class="partners__item">
        <img src="img/partner-grandline.png" alt="Grand Line">
      </div>
      <div class="partners__item">
        <img src="img/partner-docke.png" alt="Docke">
      </div>
      <div class="partners__item">
        <img src="img/partner-mprofil.png" alt="М-профиль">
      </div>
      <div class="partners__item">
        <img src="img/partner-metallprofil.png" alt="Металл профиль">
      </div>
      <div class="partners__item">
        <img src="img/partner-neva.png" alt="Нева сталь">
      </div>
      <div class="partners__item">
        <img src="img/partner-tvk.png" alt="ТВК">
      </div>
    </div>
  </div>
</section>
