<section class="portfolio" id="portfolio">
  <div class="container portfolio__container">
    <h2 class="title portfolio__title">
      Наши работы
    </h2>
    <div class="portfolio__content">
      <div class="swiper-wrapper">
        <div class="portfolio__item swiper-slide">
          <img src="img/portfolio-1.jpg" alt="подшивка свесов">
        </div>
        <div class="portfolio__item swiper-slide">
          <img src="img/portfolio-2.jpg" alt="подшивка свесов">
        </div>
        <div class="portfolio__item swiper-slide">
          <img src="img/portfolio-3.jpg" alt="подшивка свесов">
        </div>
        <div class="portfolio__item swiper-slide">
          <img src="img/portfolio-1.jpg" alt="подшивка свесов">
        </div>
        <div class="portfolio__item swiper-slide">
          <img src="img/portfolio-2.jpg" alt="подшивка свесов">
        </div>
        <div class="portfolio__item swiper-slide">
          <img src="img/portfolio-3.jpg" alt="подшивка свесов">
        </div>
        <div class="portfolio__item swiper-slide">
          <img src="img/portfolio-1.jpg" alt="подшивка свесов">
        </div>
        <div class="portfolio__item swiper-slide">
          <img src="img/portfolio-2.jpg" alt="подшивка свесов">
        </div>
        <div class="portfolio__item swiper-slide">
          <img src="img/portfolio-3.jpg" alt="подшивка свесов">
        </div>
        <div class="portfolio__item swiper-slide">
          <img src="img/portfolio-1.jpg" alt="подшивка свесов">
        </div>
        <div class="portfolio__item swiper-slide">
          <img src="img/portfolio-2.jpg" alt="подшивка свесов">
        </div>
        <div class="portfolio__item swiper-slide">
          <img src="img/portfolio-3.jpg" alt="подшивка свесов">
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar swiper-scrollbar--portfolio"></div>
    <div class="swiper-button-prev swiper-button-prev--portfolio"></div>
    <div class="swiper-button-next swiper-button-next--portfolio"></div>
  </div>
</section>
