<section class="reviews" id="reviews">
  <div class="container reviews__container">
    <h2 class="title reviews__title">
      Отзывы
    </h2>
    <div class="reviews__slider-wrapper">
      <div class="reviews__content">
        <div class="swiper-wrapper">
          <div class="swiper-slide review">
            <div class="review__user-data">
              <img class="review__user-avatar" src="img/ava1.png" alt="Иван Иванов">
              <p class="review__user-name">
                Иван Иванов
              </p>
            </div>
            <p class="review__user-text">
              Задача организации, в особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации особенности же рамки и место обучения кадров представляет собой...
            </p>
          </div>
          <div class="swiper-slide review">
            <div class="review__user-data">
              <img class="review__user-avatar" src="img/ava-icognito.png" alt="Александр Смирновенко">
              <p class="review__user-name">
                Александр Смирновенко
              </p>
            </div>
            <p class="review__user-text">
              Задача организации, в особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации особенности же рамки и место обучения кадров представляет собой...
            </p>
          </div>
          <div class="swiper-slide review">
            <div class="review__user-data">
              <img class="review__user-avatar" src="img/ava1.png" alt="Иван Иванов">
              <p class="review__user-name">
                Иван Иванов
              </p>
            </div>
            <p class="review__user-text">
              Задача организации, в особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации особенности же рамки и место обучения кадров представляет собой...
            </p>
          </div>
          <div class="swiper-slide review">
            <div class="review__user-data">
              <img class="review__user-avatar" src="img/ava1.png" alt="Иван Иванов">
              <p class="review__user-name">
                Иван Иванов
              </p>
            </div>
            <p class="review__user-text">
              Задача организации, в особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации особенности же рамки и место обучения кадров представляет собой...
            </p>
          </div>
          <div class="swiper-slide review">
            <div class="review__user-data">
              <img class="review__user-avatar" src="img/ava1.png" alt="Иван Иванов">
              <p class="review__user-name">
                Иван Иванов
              </p>
            </div>
            <p class="review__user-text">
              Задача организации, в особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации особенности же рамки и место обучения кадров представляет собой...
            </p>
          </div>
          <div class="swiper-slide review">
            <div class="review__user-data">
              <img src="img/ava1.png" alt="Иван Иванов">
              <p class="review__user-name">
                Иван Иванов
              </p>
            </div>
            <p class="review__user-text">
              Задача организации, в особенности же начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации особенности же рамки и место обучения кадров представляет собой...
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-scrollbar swiper-scrollbar--reviews"></div>
      <div class="swiper-button-prev swiper-button-prev--reviews"></div>
      <div class="swiper-button-next swiper-button-next--reviews"></div>
    </div>
    <button class="btn-primary reviews__btn review-btn-js">
      Оставить отзыв
    </button>
  </div>
</section>
