<section class="services" id="services">
  <div class="container services__container">
    <h2 class="title services__title">
      Наши услуги
    </h2>
    <div class="services__content" data-mobile="false">
      <div class="swiper-wrapper">
        <div class="card">
          <div class="card__img card__img--svesy">
            <span class="card__price">
              от 500 р
            </span>
          </div>
          <div class="card__info">
            <h3 class="card__title">
              Подшив свесов
            </h3>
          </div>
        </div>
        <div class="card">
          <div class="card__img card__img--water-out">
            <span class="card__price">
              от 500 р
            </span>
          </div>
          <div class="card__info">
            <h3 class="card__title">
              Монтаж водосточной системы
            </h3>
          </div>
        </div>
        <div class="card">
          <div class="card__img card__img--vinyl">
            <span class="card__price">
              от 500 р
            </span>
          </div>
          <div class="card__info">
            <h3 class="card__title">
              Монтаж винилового сайдинга
            </h3>
          </div>
        </div>
        <div class="card">
          <div class="card__img card__img--metal">
            <span class="card__price">
              от 500 р
            </span>
          </div>
          <div class="card__info">
            <h3 class="card__title">
              Монтаж металлосайдинга
            </h3>
          </div>
        </div>
        <div class="card">
          <div class="card__img card__img--terassa">
            <span class="card__price">
              от 500 р
            </span>
          </div>
          <div class="card__info">
            <h3 class="card__title">
              Монтаж террасной доски
            </h3>
          </div>
        </div>
        <div class="card">
          <div class="card__img card__img--terassa">
            <span class="card__price">
              от 500 р
            </span>
          </div>
          <div class="card__info">
            <h3 class="card__title">
              Монтаж террасной доски
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-scrollbar swiper-scrollbar--services"></div>
    <a href="price.html" class="btn-secondary services__btn-more">
      Подробнее
    </a>
  </div>
</section>
