<section class="why">
  <div class="container why__container">
    <h2 class="title why__title">
      Почему выбирают нас
    </h2>
    <div class="why__content">
      <div class="why-item">
        <div class="why-item__icon why-item__icon--price ">

        </div>
        <h3 class="why-item__title">
          Низкие цены
        </h3>
        <p class="why-item__text">
          Мы работаем напрямую с производителем
        </p>
      </div>
      <div class="why-item">
        <div class="why-item__icon why-item__icon--delivery ">

        </div>
        <h3 class="why-item__title">
          Быстрая доставка
        </h3>
        <p class="why-item__text">
          Доставим все материалы к вам на участок в течение 1–2 дней
        </p>
      </div>
      <div class="why-item">
        <div class="why-item__icon why-item__icon--workers">

        </div>
        <h3 class="why-item__title">
          Специалисты
        </h3>
        <p class="why-item__text">
          Русские бригады с опытом работы от 10 лет
        </p>
      </div>
      <div class="why-item">
        <div class="why-item__icon why-item__icon--sale">

        </div>
        <h3 class="why-item__title">
          Скидка
        </h3>
        <p class="why-item__text">
          на комплекс работ 5–7%
        </p>
      </div>
    </div>
  </div>
</section>
