// COLORS
:root {
  --color-black: #3a3a3a;
  --color-white: #fff;
  --color-blue: #004b85;
  --color-dark-blue: #293645;
  --color-red: #fc443a;

  // burger size

  --burger-width: 40px;
  --burger-height: 21px;
  --burger-line-height: 2px;
}
